@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root{
    --header-height: 5rem;

    /* ------------- COLOR -------------------------- */
    --first-color: #00776D;
    --second-color: #00635A;
    --text-color: #232323;
    --opacity-color: #839393;
    --opacity-color-light: rgba(255,255,255,.5);
    --opacity-title-color: rgba(128, 134, 134, 0.9);
    --opacity-bg-color: #CCE4E2;
    --bg-color: #3A4245;
    --more-color: #152c5c;
    --body-color: #ffffff;

    /* -------------- MARGIN-PADDING-------------------- */
    --mp-1: .5rem;
    --mp-2: 1rem;
    --mp-3: 1.5rem;
    --mp-4: 2rem;
    --mp-5: 2.5rem;
    --mp-6: 3rem;

    /* ------------------ FONT ---------------------- */
    --body-font: 'Montserrat', sans-serif;
    --biggest-font-size: 2.8rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .815rem;
    --nav-font-size: 0.913rem;

    /* ----------------- FONT WEIGHT ------------------ */
    --font-medium: 400;
    --font-semi-bold: 500;
    --font-semi-bolds: 600;
    --font-bold: 700;

    /* ------------------- Z INDEXT ------------------- */
    --z-1: 1;
    --z-2: 2;
    --z-3: 3;
    --z-4: 4;
    --z-5: 5;
    --z-fixd: 100;
}

/* -------------------- BASE --------------------- */
*,::after,::before{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--body-font);
    color: var(--opacity-color);
    line-height: 1.6;
}
h1,h2,h3,p,ul{
    margin: 0;
}
ul{
    padding: 0;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit;
}
img{
    max-width: 100%;
    height: auto;
}

/* ----------------- CSS ------------------ */
section{
    padding: 3rem 0 2rem;
}

.section_title {
    position: relative;
    text-align: center;
    margin-top: var(--mp-4);
    margin-bottom: var(--mp-3);
    color: var(--text-color);
    font-size: var(--h1-font-size);
}
.section_title::after {
    position: absolute;
    content: '';
    width: 6rem;
    height: 2px;
    background: var(--first-color);
    left: 50%;
    transform: translate(-50%);
    bottom: -.7rem;
}
.section_title::before {
    position: absolute;
    content: '';
    border: 9px solid #fff;
    border-bottom: 11px solid var(--first-color);
    left: 50%;
    transform: translate(-50%);
    bottom: -.9rem;
    z-index: 1;
}
.section_discription {
    font-size: var(--normal-font-size);
    padding-right: 1rem;
    text-align: center;
    margin: var(--mp-3) 0 var(--mp-6);
}
/* ----------------- NAVIGATION ------------------ */
header{
    position: fixed;
    width: 100%;
    z-index: var(--z-fixd);
}

.nav_logo,.nav_logo2 { width: 6.3rem;}
.nav_toggle,.nav_logo ,.nav_signup1{ display: none;}
.nav_list{ display: flex;}
.nav_item {
    margin: 0 var(--mp-3);
    font-size: var(--smaller-font-size);
    color: var(--body-color);
    font-weight: var(--font-semi-bold);
    opacity: .8;
}
.nav_link { transition: .5s;}
.nav_link:hover { color: var(--body-color);}
.active{
    position: relative;
    font-weight: var(--font-semi-bolds);
    opacity: 1;
}
.active::after{
    position: absolute;
    content: '';
    top: 1.7rem;
    bottom: 0;
    left: -.2rem;
    width: 55px;
    height: 2px;
    background: var(--body-color);
}
.nav_signup{
    background: var(--first-color);
    padding: .4rem 2rem;
    border-radius: 20px;
    color: var(--body-color);
    font-size: var(--small-font-size);
}

.sign_up:hover{ 
    color: var(--body-color);
}
.nav{
    padding: var(--mp-2);
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    justify-content: space-between;
    transition: .7s;
}

/* ----------------- NAV && RESPONSIVE -------------------- */
.sticky{
    transition: .6s;
    background: var(--body-color);
    box-shadow: 0 2px 4px #a1a1a1;
}
.sticky .nav_item{
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    opacity: 1;
}
.sticky .nav_link:hover{
    color: var(--first-color);
}
.sticky .active{ color: var(--first-color);}
.sticky .active::after{ background: var(--first-color);}
.sticky .nav_logo { display: block;}
.sticky .nav_logo2 { display: none;}

@media screen and (max-width: 992px) {
    .nav{
      padding-left: 5.7rem;
      padding-right: 5.7rem;
    }
    .header{
        background: #fff;
    }
    .nav_signup1{
        margin-top: 1.5rem;
        margin-left: 1.8rem;
    }
    .nav_signup1 .sign_up{
        background: var(--first-color);
        padding: .4rem 2rem;
        border-radius: 20px;
        color: var(--body-color);
        font-size: var(--small-font-size);
    }
    .nav_logo2{ display: none;}
    .nav_logo,.nav_signup1{ display: block;}
    .nav_list,.nav_signup{ display: none;}
    .nav_toggle{ 
        display: block;
        color: var(--text-color);
        font-size: var(--h2-font-size);
        cursor: pointer;
    }
    .nav_toggle i{ 
        border: 1px solid var(--text-color);
        border-radius: 5px;
        padding: .3rem .6rem;
    }
    .nav_link:hover{
        color: var(--first-color) ;
    }
    
    .active::after {
        background: var(--first-color) ;
    }
    .show_menu .nav_list {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 4rem;
        background: #fff;
        padding: 0 4rem 2rem;
    }
    
    .show_menu .nav_item {
        color: var(--text-color);
        font-weight: var(--font-semi-bold);
        opacity: 1;
        margin: 1rem 0 0 2rem;
    }

}


/* --------------------- HOME -------------------- */
.home{
    position: relative;
    background-image: url(assets/img/home-1.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 1;
}

.home_overlay::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background: linear-gradient(131deg, #0f5650, transparent);
    z-index: -1;
}

.home_title{
    font-size: var(--biggest-font-size);
    color: var(--body-color);
    font-weight: var(--font-semi-bolds);
}
.home_discription{
    font-size: var(--h3-font-size);
    color: var(--opacity-color-light);
    margin: var(--mp-5) 0;
}
.home_buttons{
    display: flex;
    align-items: center;
}
.home_btn{
    padding: .8rem 1.5rem;
    background: var(--body-color);
    color: var(--text-color);
    border-radius: 5px;
    font-weight: var(--font-semi-bold);
}
.home_watch a{
   padding: .8rem;
   color: var(--body-color);
   background: var(--first-color);
   font-size: var(--h2-font-size);
   border-radius: 50%;
   margin-left: var(--mp-4);
}
.home_scroll{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -1.6rem;
}
.home_scroll a{
    padding: .4rem .5rem;
    border: 1px solid var(--first-color);
    border-radius: 50%;
    background: var(--body-color);
    font-size: var(--h1-font-size);
    color: var(--text-color);
}

/* ----------------- FEATURES ---------------- */
.feature_content{
    display: flex;
}
.features_details {
    display: flex;
    padding: 1rem;
    margin-bottom: 4rem;
}
.features_details:hover{
    background: #CCE4E2;
}
.features_icon{
    font-size: 2rem;
    margin-right: var(--mp-2);
    color: var(--first-color);
}
.features_name {
    font-size: var(--h3-font-size);
    color: var(--text-color);
}
.features_dtl {
    margin: 1rem 0 1.5rem;
}
.features_btn {
    color: var(--text-color);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.features_btn{
    color: var(--more-color);
}
.features_btn:hover {
    color: var(--more-color);
}
/* ------------------ MARKETING --------------- */
.marketing_title {
    color: var(--text-color);
}
.marketing_description {
    margin: 1rem 0 1.5rem;
}
.market_item {
    padding: 1rem;
    border-bottom: 1px solid #ebe7e7;
    transition: .5s;
    display: flex;
    align-items: center;
}
.market_item:hover {
    background: #CCE4E2;
    border-radius: 10px;
}
.market_item i {
    color: var(--first-color);
    font-size: var(--h2-font-size);
    margin-right: .5rem;
}
.market_btn {
    background: var(--first-color);
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    color: var(--body-color);
    text-align: center;
    border: none;
    border-radius: 5px;
}

/* ----------------- HELP ----------------- */
.help_data{
    align-items: center;
}
.help_titla {
    color: var(--text-color);
}
.help_contents {
    border: 2px solid #c3c0c0;
    border-radius: 5px;
    margin-top: var(--mp-4);
}
.help_content,.help_subcontent{
   border-bottom: 2px solid #c3c0c0;
   padding: var(--mp-2);
}
.help_subcontent{
    display: none;
}
.help_name {
    font-size: var(--normal-font-size);
    color: var(--first-color);
}
.help_name_description {
    font-size: var(--small-font-size);
}
.help_btn {
    color: var(--text-color);
    padding-top: var(--mp-1);
}
.help_content_btn {
    float: right;
    overflow: hidden;
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: var(--mp-2);
}

/* ------------------ CONNECTED ----------------  */
.connected{
    background: url(assets/img/cta.png);
    background-attachment: fixed;  
    position: relative;
    z-index: 1;
}
.connected_overlay::after{
   position: absolute;
   content: '';
   background: #1b1b1b82;
   width: 100%;
   height: 100%;
   top: 0;
   z-index: -1;
}
.connected_data{
    padding: var(--mp-6) 0;
}
.connected_title {
    color: var(--body-color);
    font-weight: var(--font-bold);
}
.connected_description {
    color: var(--body-color);
    margin: var(--mp-2) 0 0;
}

/* -------------------- ABOUT ------------------ */
.about_teams {
    padding: 0 var(--mp-4);
    margin-left: auto;
    margin-right: auto;
}
.about_content{
    display: flex;
    align-items: center;
}
.about_bg {
    background: #B3D4D1;
    padding: var(--mp-4) 0;
}
.about_client {
    background: var(--body-color);
    border: 1px solid var(--first-color);
    padding: var(--mp-2);
}
.client_name {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    margin-top: var(--mp-2);
}
.client_views {
    position: relative;
    font-size: var(--h3-font-size);
    color: var(--text-color);
    margin-bottom: 1rem;
}
.client_views::after {
    position: absolute;
    content: '';
    background: var(--first-color);
    width: 50%;
    height: 5px;
    bottom: 0;
    left: 0;
    top: 1.7rem;
}
.client_quote {
    font-size: var(--biggest-font-size);
    float: left;
}
.client_description{
    padding: 2.5rem 0 1.5rem 2.5rem;
}
/* ------------------- Pricing ---------------- */
.pricing_content {
    border-radius: 20px;
    margin-bottom: 2rem;
}
.pricing_dtl h1{
    font-weight: var(--font-semi-bolds);
    color: var(--text-color);
    padding-bottom: 1rem;
}
.pricing_name p {
    color: var(--first-color);
} 
.pricing_name {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.pricing_name sub {
    font-size: var(--small-font-size);
    color: var(--opacity-color);
    font-weight: var(--font-medium);
}
.pricing_list{
    padding: 2rem 1.5rem 1rem;
}
.pricing_item{
    padding: .4rem 0rem;
    color: var(--text-color);
    font-size: var(--small-font-size);
}
.pricing_item span{
    padding: .5rem;
    color: var(--first-color);
    font-size: 1.3rem;
}
.pricing_btn{
    background: var(--body-color);
    color: var(--first-color);
    border: 1px solid;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mp-2);
}
.pricing_btn:hover{
    background: var(--first-color);
    color: var(--body-color);
}

/* ------------------- OFFER ---------------- */
.marquee_bg {
    background: #0f0e0eb5;
    color: var(--body-color);
    position: absolute;
    width: 100%;
    top: 0;
    font-size: var(--small-font-size);
    padding: .3rem 0 .1rem;
}

/* -------------------- TEAM ------------------- */
.team_content {
    margin-bottom: 2.5rem;
}
.team_member {
    background: var(--body-color);
    box-shadow: 0 1px 7px #b3b0b0;
    border-radius: 7px;
}
.member_img{
    position: relative;
    border-radius: 10px;
}
.member_img img {
    border-radius: 10px;
    width: 100%;
}
.member_social{
    position: absolute;
    width: 100%;
    bottom: 2px;
    text-align: center;
}
.member_social a{
    background: var(--bg-color);
    padding: 9px 9px 6px 9px;
    color: var(--body-color);
    border-radius: 5px;
    margin: 0 .2rem;
}
.member_name{
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
    color: var(--text-color);
}
.member_dtl p{
    font-size: var(--smaller-font-size);
}
.member_dtl{
    padding: 1.5rem 1rem;
}

/* ------------------------ CONTACT -------------------- */
.contact_item {
    display: flex;
    margin-bottom: 1.2rem;
}
.contact_item i{
    padding: 1rem;
    color: var(--body-color);
    background-color: var(--first-color);
    border-radius: 5px;
}
.contact_item .mess i{
    padding-bottom: 5rem;
    background: var(--first-color);
    border-radius: 5px;
}

/* --------------- FOOTER ------------------ */
footer{
    background: var(--bg-color);
    padding-top: 6rem;
}
.footer_discription {
    padding: var(--mp-3) 0;
}
.footer_list,.section_list{
    display: flex;
    justify-content: center;
}
.footer_item i {
    padding: .5rem;
    border: 1px solid #fff;
    margin: 0 .5rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}
.section_list li {
    margin: 0 .5rem;
    margin-bottom: 2.5rem;
}
.footer_copy {
    padding: 1.2rem 0;
    border-top: 1px solid #595959;
}


/* ----------------- RESPONSIVE ---------------- */
@media screen and (max-width: 573px) {
    .home_title{
        font-size: var(--h1-font-size);
    }
    .show_menu .nav_list {
        padding: 0 1rem 3rem;
    }
    .nav{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}